services:
  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - backend
    restart: unless-stopped

  backend:
    build:
      context: .
    environment:
      - CURRENT_STAGE=2
      - USE_STATIC_DASHBOARD=false
      - NODE_ENV=production
      # - AWS_ENDPOINT_URL=http://192.168.0.19
      - AWS_ENDPOINT_URL=http://midominio.local
      - AWS_REGION=us-east-1
      - AWS_ACCESS_KEY_ID=test
      - AWS_SECRET_ACCESS_KEY=test
    extra_hosts:
      - "midominio.local:192.168.0.19"
    expose:
      - "3000"
    restart: unless-stopped
